<!DOCTYPE html>
<html lang="pt- br

">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Novo Usuario</title>
</head>
<body>

    <body style="background-color: #f4f4f4; font-family: Arial, sans-serif; text-align: center; padding-top: 50px;">
    <h2>Criar Novo Usuário</h2>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} 
        <br>
        <button type="submit" style="background-color: #28a745; color: white; padding: 5px 15px; border: none; cursor: pointer;">Salvar Usuário</button>
    </form>

    <br>
    <a href="{% url 'login' %}">Voltar para o Login</a>
</body>
</html>