{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Logistica Facil{% endblock %}</title>
    </head>
    <body style="background-color: #f4f4f4; font-family: Arial, sans-serif;">

        <header
            style="background-color: #007bff; color: white; padding: 15px; margin-bottom: 20px;">
            <h2>Logística Fácil - Painel de Controle</h2>

            {% if user.is_authenticated %}
            <p>Bem-vindo, <strong>{{ user.username }}</strong>!</p>
            <a href="{% url 'logout' %}">Sair</a>
            {% else %}
            <p>Você não está logado.</p>
            <a href="{% url 'login' %}">Fazer Login</a>
            {% endif %}
             &nbsp&nbsp  <a href="{% url 'home' %}">Home</a>
            &nbsp&nbsp  <a href="{% url 'lista_veiculos' %}">Veiculos</a>
            &nbsp&nbsp  <a href="{% url 'lista_funcionario' %}">Funcionario</a>
            &nbsp&nbsp  <a href="{% url 'lista_viagem' %}">Viagens</a>
        </header>

        <main style="padding: 20px;">
            {% block content %}
            {% endblock %}
        </main>

        <footer
            style="margin-top: 40px; padding: 10px; text-align: center; color: #666;">
            <p>&copy; 2026 - Logística Fácil</p>
        </footer>

    </body>
</html>