{% extends 'base.html' %}

{% block title %}Adicionar Funcionário - Logística Fácil{% endblock %}

{% block content %}
<div class="container-formulario">
    <h2 class="titulo-pagina">Adicionar Novo Funcionário</h2>
    <p class="subtitulo-pagina">Preencha as informações do funcionário para cadastrá-lo na empresa.</p>
    <hr>
    <br>

    <form method="POST" class="formulario-padrao">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="grupo-campo">
                <label class="rotulo-campo">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <span class="erro-campo">{{ field.errors.0 }}</span>
                {% endif %}
            </div>
        {% endfor %}

        <br>
        <div class="container-botoes-form">
            <a href="{% url 'lista_funcionario' %}" style="text-decoration: none;">
                <button type="button" class="btn-cancelar">Cancelar</button>
            </a>
            <button type="submit" class="btn-salvar-add">Adicionar Funcionário</button>
        </div>
    </form>
</div>


{% endblock %}